---
import { Image } from 'astro:assets'
import Links from './Links.astro'
import Plan from './Plan.astro'
import videoToolLogo from '../img/logo-video-tool.svg'
---

<aside class='bg-white flex flex-col p-4 pt-0 rounded-lg w-[18%]'>
  <button class="w-4 h-4 mb-3 ml-auto mr-2 grid place-items-center">
    <i class="ti ti-chevron-left text-2xl"></i>
  </button>
  <figure class='my-4'>
    <Image
      src={videoToolLogo}
      alt='Logo Video Tool'
      loading='lazy'
      class='w-10 block mx-auto'
    />
  </figure>
  <Links />
  <Plan />
</aside>