---
import Table from './Table.astro'
import content from '../data/content.json'
---
<main
  class='bg-white rounded-lg w-full py-7'
  transition:name='initial'
>
  <header
    class='flex flex-wrap justify-between items-center text-[0.7rem] px-8'
  >
    <ul class='flex items-center text-sm space-x-1'>
      <li>
        <a
          href='/'
          class='w-8 h-8 grid place-items-center rounded bg-primary mr-3'
        >
          <i class='ti ti-arrow-left text-xl text-white'></i>
        </a>
      </li>
      <li>
        <p>Home</p>
      </li>
      <li>
        /
      </li>
      <li>
        <p class='font-semibold'>Bemaster</p>
      </li>
    </ul>
  </header>
  <article class ='mt-8 px-12'>
    <div class='relative overflow-x-auto'>
      <Table
        headings={content.head}
        content={content.rows}
        icon={content.icon}
      />
    </div>
  </article>
</main>