---

---
<ul class='space-y-4 pr-2 font-regular mb-12'>
  <li class='py-1 px-4'>
    <a
      href='/'
      class='flex items-center gap-4'
    >
      <i class="ti ti-layout-dashboard text-[1.25rem]"></i>
      <p class='text-[0.75rem]'>Dashboard</p>
    </a>
  </li>
  <li class='py-2 px-4 bg-primary rounded-md text-white'>
    <a
      href='/'
      class='flex items-center gap-4'
    >
      <i class='ti ti-folder text-[1.25rem]'></i>
      <p class='text-[0.75rem]'>Videos</p>
    </a>
  </li>
  <li class='py-1 px-4'>
    <a
      href='/'
      class='flex items-center gap-4'
    >
    <i class='ti ti-circle-chevron-right text-[1.25rem]'></i>
      <p class='text-[0.75rem]'>Player</p>
    </a>
  </li>
  <li class='py-1 px-4'>
    <a
      href='/'
      class='flex items-center gap-4'
    >
      <i class='ti ti-chart-dots-2 text-[1.25rem]'></i>
      <p class='text-[0.75rem]'>Analytics</p>
    </a>
  </li>
  <li class='py-1 px-4'>
    <a
      href='/'
      class='flex items-center gap-4'
    >
      <i class='ti ti-folder text-[1.25rem]'></i>
      <p class='text-[0.75rem]'>Configuraciones</p>
    </a>
  </li>
  <li class='py-1 px-4'>
    <a
      href='/'
      class='flex items-center gap-4'
    >
      <i class='ti ti-settings text-[1.25rem]'></i>
      <p class='text-[0.75rem]'>Ayuda</p>
    </a>
  </li>
</ul>

