<article class='bg-gray-100 rounded-xl py-5 px-3'>
  <header class="mb-2">
    <p class='text-[0.7rem] font-semibold'>Mi Plan - Plus</p>
    <p class='text-[0.55rem] italic'>El uso se renueva el: 3-may-23</p>
  </header>
  <div>
    <div class='flex justify-between items-center'>
      <p class='text-[0.7rem]'>Almacenamiento</p>
      <p class='text-[0.5rem] uppercase'>23.5gb/1tb</p>
    </div>
    <progress
      class="progress -top-1"
      value="70"
      max="100"
    >
    </progress>
  </div>
  <div>
    <div class='flex justify-between items-center'>
      <p class='text-[0.7rem]'>Banda Mensual</p>
      <p class='text-[0.5rem] uppercase'>3.4gb/5tb</p>
    </div>
    <progress
      class="progress -top-1"
      value="50"
      max="100"
    >
    </progress>
    <button class='bg-primary text-white py-1 px-2 rounded-full text-[0.7rem] mt-2'>
      Administrar plan
    </button>
  </div>
</article>
